.searchTableDrop select {
	width: 100%;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; 
  }
  
  md-list.make-scrollable{ 
  height : 400px;
  overflow-y: scroll; 
  }
  
.row {
	margin-bottom:4px;
}
.form-control {
	padding-left:0px;
	height : 25px;
	padding-top:2px;
	padding-bottom:2px;
}
.section {
	margin-left:2px;
}.row {
       margin-bottom:4px;
}
.form-control {
       padding-left:0px;
       height : 25px;
       padding-top:2px;
       padding-bottom:2px;
}
.section {
       margin-left:2px;
}
html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #286090;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.navbar-default {
  background-color: #286090;
  /* border-color: #e7e7e7; */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #286090;
  font-weight: bold;
}

.search {
color: #286090;
font-weight: bold;
}
.btn {
  padding: 1px 5px;
  font-size:11px
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 1.42857143;
  color: #286090;
  background-color: #fff;
}
.form-control {
font-size:11px;
}
/* .panel-heading {
       background-color :#fff!important;
       padding: 5px 10px !important;
       color:#286090!important;
} */
.panel-title {
  font-size: 11px;
}

.navbar-default {
  background-color: #286090;
  /* border-color: #e7e7e7; */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #286090;
  font-weight: bold;
}

.search {
color: #286090;
font-weight: bold;
}
.btn {
  padding: 1px 5px;
  font-size:11px
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.form-control {
font-size:11px;
}
/* .panel-heading {
       background-color :#286090!important;
       padding: 5px 10px !important;
} */
.panel-title {
    font-size: 12px;
    font-weight: bolder;
}
.table-condensed {
width :100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height:202px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.spinner-page {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height:202px; /*hight of the spinner gif +2px to fix IE8 issue */
}
.panel-primary {
       
        overflow:scroll;
       
}

.disable-row {
       color : #B5B1B1;
}

.margin-show {
       margin-left : 210px;
       color: #286090;
}

.margin-hide {
  margin-left :10px;
  color: #286090;    
}

.chart-show {
       margin-left :-15px;
       border: 2px solid #286090;
}
.chart-hide {
       margin-left :-1px;
       border: 2px solid #286090;
}

.publish-show{
       margin-left :-15px;
}

.publish-hide{
       margin-left :-1px;
}
.table>tbody>tr>td, .table>tfoot>tr>td,  .table>thead>tr>td
{
       padding: 4px;
       border-color:#ddd;
}
.table>tbody>tr>th, .table>tfoot>tr>th,  .table>thead>tr>th
{
       border-color:#A9A1A1!important;
       background-color:#286090;
       color:#fff;
}
.priceType-margin
{
       margin-left: 33%;
}
.graph-column {
       padding-left: 15px !important;
}

.used-Y {
color: #00B800;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.used-N {
       font-weight: bold;
    font-size: 150%;
    text-align: center;
    color: #FF0000;
}
.panel-primary>.panel-heading {
       background-color :#fff;
       padding: 5px 10px;
       color:#286090;
       border-color:#fff;
}
.dropdown-menu{
       color:#286090;
       position: absolute;
}

.dropdown {
       position:absolute;
}
.row-height-filter-on {
       height:51px;
}

.row-height-filter-on-bcc,.row-height-filter-on-raw {
       height:69px;
}

.modal-header {
       background-color: #428bca;
}

table {
       border-collapse: collapse;
}
.row-height-filter-off {
       height:31px;
}

.pricetype-radiobutton {
       display:inline;
       margin-left:10px;
}

.pricetype-align {
       padding: 0px;
    width: 54.33%;
}

.btn {
       margin: 5px; 
       font-size: x-small;
}      
.sel {
       background-color: #7EB9EC;
}

.desc {
       background-color: #d1e6ac;
}
.prov {
       color :red;
}
.hqc {
       color :green;
       font-weight: bolder;
}
.nonHqc {
       color : red;
    font-weight: bolder;
}
.excluded{
       color : #ddd;
}

th.Tier,th.Source {
       width: 4.5%;
}

th.RbasisRawTable,th.RbccTable {
       width: 2%;
}

th.CCY,th.CPN,th.Type,th.Include,th.Graph,th.Primary,th.Snap {
       width: 3.5%;  
}

th.DC,th.PT,th.tenorBasis,th.tenor {
       width: 3%;
}

th.Liq,th.RcompositeTable {
       width: 7.25%;
}

th.DQ,th.Used{
       width: 4%;
}

th.RbasisCompositeTable, th.RbasisBccTable,th.Created,th.Updated,th.AsOf,th.RrawTable{
       width: 6%;
}

th.DatebasisCompositeTable {
       width: 12%;
}
th.ContributorbasisRawTable,th.AsOfbasisRawTable {
       width: 13.5%;
}

th.ContributorbasisBccTable,th.ContributorbccTable,th.ContributorrawTable {
       width: 7%;
}

th.BasisType {
       width: 6.5%;
}

th.PrimaryType {
       width: 7.5%;  
}

th.Ticker,th.DatebasisBccTable {
       width: 5%;    
}

legend:{
     align: 'left';
     verticalAlign: 'top';
     floating: true;
     width :100px; 
}
.ng-isolate-scope {
padding-left : 0!important;      
}
.demerits {
       text-align: center;
}


html {
  overflow-y: scroll;
  *overflow-x: hidden;
}

.container {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
}

.tt-menu,
.gist {
  text-align: left;
}

/* base styles */
/* ----------- */

html {
  font: normal normal normal 18px/1.2 "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  color: #286090;
}


a {
  color: #03739c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.table-of-contents li {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.table-of-contents li a {
  font-size: 16px;
  color: #999;
}

p + p {
  margin: 30px 0 0 0;
}

/* site theme */
/* ---------- */

.title {
  margin: 20px 0 0 0;
  font-size: 64px;
}

.example {
  padding: 30px 0;
}

.example-name {
  margin: 20px 0;
  font-size: 32px;
}

.demo {
  position: relative;
  *z-index: 1;
  margin: 50px 0;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.gist {
  font-size: 14px;
}

/* example specific styles */
/* ----------------------- */

#custom-templates .empty-message {
  padding: 5px 10px;
 text-align: center;
}

#multiple-datasets .league-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
}

#rtl-support .tt-menu {
  text-align: right;
}

.navbar-default {
  background-color: #286090;
  /* border-color: #e7e7e7; */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #286090;
  font-weight: bold;
}

.search {
color: #286090;
font-weight: bold;
}
.btn {
  padding: 1px 5px;
  font-size:11px
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
  line-height: 1.42857143;
  color: #286090;
  background-color: #fff;
}
.form-control {
font-size:11px;
}
/* .panel-heading {
	background-color :#fff!important;
	padding: 5px 10px !important;
	color:#286090!important;
} */
.panel-title {
  font-size: 11px;
}

.navbar-default {
  background-color: #286090;
  /* border-color: #e7e7e7; */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #286090;
  font-weight: bold;
}

.search {
color: #286090;
font-weight: bold;
}
.btn {
  padding: 1px 5px;
  font-size:11px
}
.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.form-control {
font-size:11px;
}
/* .panel-heading {
	background-color :#286090!important;
	padding: 5px 10px !important;
} */
.panel-title {
    font-size: 12px;
    font-weight: bolder;
}
.table-condensed {
 width :100%;
}
 
.spinner {
    position: absolute;
    top: 50%;
    left: 40%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height:202px; /*hight of the spinner gif +2px to fix IE8 issue */
}

.spinner-page {
    position: fixed;
    top: 50%;
    left: 45%;
    margin-left: -50px; /* half width of the spinner gif */
    margin-top: -50px; /* half height of the spinner gif */
    text-align:center;
    z-index:1234;
    overflow: auto;
    width: 200px; /* width of the spinner gif */
    height:202px; /*hight of the spinner gif +2px to fix IE8 issue */
}
.panel-primary {
	 
  	 overflow:scroll;
	
}

.disable-row {
	color : #7D7D7D;
}

.margin-show {
  	margin-left : 210px;
  	color: #286090;
}

.margin-hide {
  margin-left :10px;
  color: #286090;	
}

.chart-show {
	margin-left :-15px;
	border: 2px solid #286090;
}
.chart-hide {
	margin-left :-1px;
	border: 2px solid #286090;
}

.publish-show{
	margin-left :-15px;
}

.publish-hide{
	margin-left :-1px;
}
.table>tbody>tr>td, .table>tfoot>tr>td,  .table>thead>tr>td
{
	padding: 4px;
	border-color:#ddd;
}
.table>tbody>tr>th, .table>tfoot>tr>th,  .table>thead>tr>th
{
	border-color:#A9A1A1!important;
	background-color:#286090;
	color:#fff;
}
.priceType-margin
{
	margin-left: 33%;
}
.graph-column {
	padding-left: 15px !important;
}

.used-Y {
color: #00B800;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}

.used-N {
	 font-weight: bold;
    font-size: 150%;
    text-align: center;
    color: #FF0000;
}
.panel-primary>.panel-heading {
	background-color :#fff;
	padding: 5px 10px;
	color:#286090;
	border-color:#fff;
}
.dropdown-menu{
	color:#286090;
	position: absolute;
}

.dropdown {
	position:absolute;
}
.row-height-filter-on {
	height:51px;
}

.row-height-filter-on-bcc,.row-height-filter-on-raw {
	height:69px;
}

.modal-header {
	background-color: #428bca;
}

table {
	border-collapse: collapse;
}
.row-height-filter-off {
	height:31px;
}

.pricetype-radiobutton {
	display:inline;
	margin-left:10px;
}

.pricetype-align {
	padding: 0px;
    width: 54.33%;
}

.btn {
	margin: 5px; 
	font-size: x-small;
}	
.sel {
	background-color: #7EB9EC;
}

.desc {
	background-color: #d1e6ac;
}
.prov {
	color :red;
}
.hqc {
	color :green;
	font-weight: bolder;
}
.nonHqc {
	color : red;
    font-weight: bolder;
}
.excluded{
	color : #ddd;
}

th.Tier,th.Source {
	 width: 4.5%;
}

th.RbasisRawTable,th.RbccTable {
	width: 2%;
}

th.CCY,th.CPN,th.Type,th.Include,th.Graph,th.Primary,th.Snap {
	width: 3.5%;	
}

th.DC,th.PT,th.tenorBasis,th.tenor {
	width: 3%;
}

th.Liq,th.RcompositeTable {
	 width: 7.25%;
}

th.DQ,th.Used{
	width: 4%;
}

th.BasisType {
	width: 6.5%;
}

th.PrimaryType {
	width: 7.5%;	
}


legend:{
     align: 'left';
     verticalAlign: 'top';
     floating: true;
     width :100px; 
}
.ng-isolate-scope {
 padding-left : 0!important;	
}
.demerits {
	text-align: center;
}

.horizontalRule {
	border-top-color: #286090;
    border-top-width: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}
